RFC Editor Comment

Unless we hear objection, we will update “Standards” to
“RFCs” in the title of Appendix A as not all documents listed are
standards (e.g., some are Experimental or Informational). In
addition, we will remove “IETF" from the subsection titles as not
all the RFCs listed are from the IETF Stream.

Original:
   Appendix A.  Standards Related to DNS Transport over TCP
     A.1.  IETF RFC 1035 - DOMAIN NAMES - IMPLEMENTATION AND
            SPECIFICATION
     A.2.  IETF RFC 1536 - Common DNS Implementation Errors and
            Suggested Fixes
     A.3.  IETF RFC 1995 - Incremental Zone Transfer in DNS
     A.4.  IETF RFC 1996 - A Mechanism for Prompt Notification of Zone
     Changes (DNS NOTIFY)
     ....., etc.
     
Perhaps:
   Appendix A.  RFCs Related to DNS Transport over TCP
     A.1.  RFC 1035 - DOMAIN NAMES - IMPLEMENTATION AND
            SPECIFICATION
     A.2.  RFC 1536 - Common DNS Implementation Errors and
            Suggested Fixes
     A.3.  RFC 1995 - Incremental Zone Transfer in DNS
     A.4.  RFC 1996 - A Mechanism for Prompt Notification of Zone
     Changes (DNS NOTIFY)
     ....., etc.
