RFC Editor Comment

Since RFC 2541 has been obsoleted by RFC 6781, may we
include the following note (i.e., "note that [RFC2541] has 
been obsoleted by [RFC6781]")?

Original:
   The first was dynamic updates defined in [RFC2136] and the 
   second was the set of extensions collectively known as 
   DNSSEC, whose operational considerations are originally 
   given in [RFC2541]. 

Perhaps:
   The first was dynamic updates defined in [RFC2136], and the 
   second was the set of extensions collectively known as 
   "DNSSEC", whose operational considerations were originally 
   given in [RFC2541] (note that [RFC2541] has been obsoleted
   by [RFC6781]).
